version: "3.9"

services:
  postgres:
    image: postgres:15
    container_name: lender_matching_db
    environment:
      POSTGRES_DB: lender_matching
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - ./db/migrations:/docker-entrypoint-initdb.d
